<h1>Listing skins</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @skins.each do |skin| %>
  <tr>
    <td><%= link_to 'Show', skin %></td>
    <td><%= link_to 'Edit', edit_skin_path(skin) %></td>
    <td><%= link_to 'Destroy', skin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Skin', new_skin_path %>
