<!-- <h1>Site#about</h1>
<p>Find me in app/views/site/about.html.erb</p> -->
<div class="row">
	<div class="span5">
		<!-- <%= image_tag "superAppLogo.png"  %><br> -->
		<%= image_tag "teamCheckCheck.jpg"  ,:class => "intro-para-image"  %>
	</div>
	 <div class="span7"> 
  	 		<p>
			<br><br><br><br><br><br><br><br><br>
			<h3>Team Check Check는</h3> <br> 
		 	<div style="padding-left: 20px"> 
			 신혜성(개발),이성진(개발), 이용아(디자인)으로 구성되어 있습니다.<br>
   			 2013.09.13 SuperAppKorea 대회장에서 같은 테이블에 앉은 것이 인연의 시작입니다.<br>
			<br>
			'아침에 깜박하고 집을 나서기 쉬운 물건, 날씨를 push alarm 을 통해 점검해주는 app'<br>
			이라는 아이디어에 공감하여 그 즉시 팀이 형성되었습니다.<br> 
			<br>
			이 아이디어는 Check Check 라는 이름의 app으로 현실화 되었습니다. <br> 
			</div>
	 		</p>
	</div>
</div>