<!-- <h1>Site#apps</h1>
<p>Find me in app/views/site/apps.html.erb</p> -->
<div class="row-fluid">
<ul class="thumbnails">
  <li class="span5">
    <div class="thumbnail">
      <img data-src="holder.js/320x480" alt="">
      <h3>Check Check </h3>
      <p>Play Store </p>
    </div>
  </li>
  <li class="span5">
    <div class="thumbnail">
      <img data-src="holder.js/320x480" alt="">
      <h3>Check Check </h3>
      <p>App Store </p>
    </div>
  </li>
</ul>
</div>
