<!-- <h1>Site#developer</h1>
<p>Find me in app/views/site/developer.html.erb</p> -->
<h1>
CheckCheck presents the weather API for <br>
the 3rd party usage.  
</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<p>
Request:<br> 
	URL: http://ec2-54-238-163-63.ap-northeast-1.compute.amazonaws.com/api/v1/weather.json <br>
	Method: POST <br>
    JSON: {"weather": {"longitude":"37.5665","latitude":"126.9780"}} <br>
</p> 

<br>
<br>
<p>
Response: <br>
	JSON: {"location":"Seoul", "temperature_F":57, "temperature_C":13, <br>
	       "wind_direction":"N", "condition_code":29, "condition":"Partly cloudy (night)", <br> 				"sunrise":"2013-10-20T06:44:00+00:00", "sunset":"2013-10-20T17:47:00+00:00"} <br>
</p> <br>
