// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-frame-carousel
{
position:absolute;
}
.iphone-frame
{

width: 541px;
height: 857px;
position:absolute;
//top:-60px;
//left:0px;
left:0px;
top:0px;
z-index:-10;
}

#myCarousel
{

//left:31px;
//top:-703px;

position:absolute;
left:106px;
top:153px;
//z-index:-1023;
}


#gloss
{

left:282px;
top:124px;

}

.carousel-control {
	z-index:10;
}
.intro-para-image {
float: left;
margin-top:40px;
margin-right:20px;
}

.p-indent
{
text-indent:50px;
}